.task{
    background: linear-gradient(to bottom, yellowgreen, white);
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 2em;
    display: flex;
    
    flex-direction: column;
    input{
        all:unset;
        border-bottom: 1px solid gray;
        color: grey; 
        width: 100%;
    }

}
.controls{
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    justify-items: flex-end;
    align-content: flex-end;
}
.task:hover .controls{
    opacity: 1;
}

.isCompleted{
   text-decoration: line-through;
   background: linear-gradient(to bottom, red, white);
   color: grey; 
}

