.list{
    padding: 0.8em;
    background: snow;
    border-radius: 1em;
    margin: 0.5em;
    input{
        all:unset;
        border-bottom: 1px solid gray;
        color: grey; 
        width: 100%;
    }
}