@import '../../variables.scss';
.showLists{
    background:linear-gradient(to bottom, green, white);
    min-height: calc(100vh - #{$headerHeight});
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


